aside {
  display: block;
  float: right;
  padding-bottom: 30px;
  border-radius: 0 0 100px 100px;
  background-color: rgba(57, 155, 226, 0.3);
}
.cart-pizza {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #757575;
  padding-bottom: 5px;
  margin: 10px;
}
.cart-pizza-name {
  margin-right: 20px;
}
.cart-btn-group button {
  border: none;
  background-color: #fff;
  font-size: 1.1rem;
  padding: 2px;
}
.cart-btn-group button:nth-child(odd) {
  border-radius: 4px;
  cursor: pointer;
}
.cart-buy {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.cart-btn-buy {
  border: none;
  background-color: #69995d;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.close {
  text-align: center;
  color: red;
  font-size: 2rem;
}
#btn-close {
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}

@media (max-width: 500px) {
  aside {
    float: none;
    font-size: 20px;
    padding-bottom: 10px;
  }
  .cart-btn-group button {
    padding: 5px;
    font-size: 1.5rem;
  }
}
