header {
  background-color: #ff4524;
}
.header-nav {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user {
  display: flex;
  font-size: 1.5rem;
  position: relative;
  padding: 8px 0;
}
.user a {
  color: #fff;
}
.user-log {
  margin-right: 10px;
}
#sign,
#cart {
  font-size: 2rem;
}
#cart {
  color: #fff;
  margin: 0 15px;
  cursor: pointer;
}
h1 {
  color: #fff;
}
.amount {
  color: #ff4524;
  text-align: center;
  font-size: 1rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #fff;
}
